/* General Styles */
body {
    margin: 0;
    background-color: #ececec;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* This is for the landing page */
.landing{
    padding: 20px;
    background-color: #8A7F6F;
    max-width: 100%;
    min-height: 775px;
}

.top{
    padding-top: 0 !important;
    padding-left: 20px;
    padding-right: 25px !important;
    display: flex;
    align-items: center;
}
.menu{
    width: 95%;
}
.contact-me{
    font-size: 20px;
    color: #bbbbba;
    cursor: pointer;
    width: 5%;
    min-width: 130px;
}
.contact-me:hover{
    color:#5c5247;
}

/* Hamburger Menu */
.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px; 
    height: 30px; 
    cursor: pointer;
    border-radius: 20px;
}
.hamburger-menu span {
    display: block;
    width: 100%; 
    height: 5px; 
    background-color: #333; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}
.hamburger-menu:hover span {
    background-color:#5c5247;
}

.logo{
    margin: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.logo img{
    width: 190px;
    height: 190px;
}

.landing .texts{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.texts h1{
    font-family: 'Libre Baskerville';
    margin: 0;
    font-size: 4rem;
    font: 400;
}
.texts h3{
    color: #bbbbba;
    font-weight: 50;
    font-size: 25px;
    font-family: 'Inter';
    margin: 0;
    margin-bottom: 100px;
}
.texts p{
    font-family: 'Times New Roman', Times, serif;
    color: #bbbbba;
    font-size: 30px;
    margin: 0;
}


/* ~~~~~~~~~~~~~~~~~~~~~ */

.home_2{
    background-color: #282828;
    max-width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 775px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}
.home_2 .texts{
    padding-top: 100px;
    min-width: 350px;
    width: 40%;
    height: 450px;
    box-sizing: border-box;
    margin: 30px;
}
#description-text{
    font-size: clamp(1rem, 2vw, 3rem);
    font-size: 30px;
    margin-bottom: 30px;
}
#poetic-statement{
    font-size: clamp(1rem, 2vw, 3rem);
    text-align: center;
    margin-top: 70px;
    color: #d9d6d6;
}

.home_2 .image{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 400px;
    width: 50%;
}
.home_2 .image img{
    width: clamp(200px, 50%, 450px);
    min-width: 400px;
    margin: 0;
}
.home_2 .image hr{
    margin: 0;
    width: 90%;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */

.portfolio{
    padding-bottom: 0 !important;
    background-color: white;
    max-width: 100vw;
    min-height: 775px;
    padding: 20px;
    padding-top: 50px;
}

.container{
    padding: 15px;
}

.container .title{
    padding: 0;
    padding-left: 45px;
    font-size: clamp(1rem, 2vw, 3rem);
}

.container .title h2{
    font-family: 'Libre Baskerville';
    margin: 0;
}

.container .content{
    padding-top: 0!important;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.container .image{
    min-width: 250px;
    margin-top: 0 !important;
    margin: 15px;
    margin-bottom: 0 !important;
    width: 55%;
}

.container .image img{
    border-radius: 30px;
    width: clamp(100%, 70%, 60%);
    min-width: 300px;
    max-width: 800px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.71);

}

.container .text{
    flex: 1;
    min-width: 350px;
    width: 40%;
    margin: 15px;
    text-align: justify;
}

.container .description{
    width: 100%;

}


.container_2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;;
}

.container_2 .screenshots{
    width: 18%;
    min-width: 250px;
    margin: 10px;
}

.container_2 .screenshots img{
    border-radius: 15px;
    max-width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.71);
}

/* Footer */
footer {
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer-content {
    justify-content: space-between;
    padding: 20px;
    background-color: #8A7F6F;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.social-icons {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 30%;
    display: flex;
    gap: 60px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    gap: 30px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.footer-nav {
    flex: 2;
    padding-right: 60px;
    padding-left: 30px;
    width: 50%;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.footer-nav a:hover {
    color: #5c5247;
}


.copyright{
    color: rgb(181, 181, 181);
    background-color: #333;
    margin: 0;
}
.copyright p{
    margin: 0;
}



/* For Script*/
.fade-in {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

.slide-in {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
}

.slide-in.show {
    opacity: 1;
    transform: translateX(0);
}