/* Navigation Bar */
.navbar{
    background-color: #ececec;
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}
.nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-content img{
    width: 200px;
    height: 200px;
}



/* Footer */
footer {
    justify-content: center;
    text-align: center;
    padding: 0;
    margin: 0;
}

.footer-content {
    justify-content: space-between;
    padding: 20px;
    background-color: #8A7F6F;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.social-icons {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 30%;
    display: flex;
    gap: 60px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    gap: 30px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

.footer-nav {
    flex: 2;
    padding-right: 60px;
    padding-left: 60px;
    width: 50%;
    justify-content: center;
    display: flex;
    gap: 20px;
}

.footer-nav a {
    text-decoration: none;
    font-family: 'Albert Sans', sans-serif;;
    color: #e6e5e5;
    font-weight: bold;
}

.footer-nav a:hover {
    color: #5c5247;
}


.copyright{
    color: rgb(181, 181, 181);
    background-color: #333;
    margin: 0;
}
.copyright p{
    margin: 0;
}
